<div>
    <div class="container-fluid">
        <div class="row-fluid" >
            <div class="span9" style="height: 100%;">
                <div class="container-fluid" data-bind="visible: showSettings()">
                    <div class="row-fluid">         
                        <div class="span7 roundCorners paddedBlock" style="height: 100%;">
                            <div class="blockHeader">
                                <p><strong>Logistic Regression Settings</strong></p>
                            </div>
                            <form class="form-horizontal paddedBlock" style="margin-bottom: 0;">  
                                <fieldset>
                                    <div class="control-group k-content">
                                        <span class="span4"><label class="control-label">Response Type</label></span>
                                        <select class="logisticSelect span8 combobox" placeholder="Select ..." 
                                                data-bind="options: ['AE','LAB','PK'], value: settings.responseType()"></select>
                                    </div>
                                    <div class="control-group k-content">
                                        <span class="span4"><label class="control-label">Select the Placebo</label></span>
                                        <select class="logisticSelect span8 combobox" placeholder="Select ..." 
                                                data-bind="options: ['none','pbo','drug1','drug2'], value: settings.placebo()"></select>
                                    </div>  
                                    <div class="control-group k-content">
                                        <span class="span4"><label class="control-label">Scale</label></span>
                                        <div class="btn-group span8" data-toggle="buttons-radio">
                                            <button type="button" class="btn btn-primary">Logarithmic</button>
                                            <button type="button" class="btn btn-primary">Linear</button>
                                        </div> 
                                    </div>
                                    <div class="control-group k-content">
                                        <span class="span4"><label class="control-label">Number of Bins</label></span>
                                        <div class="k-content span7">
                                            <input class="binSlider" value="0" /> 
                                        </div>
                                        <input class="span1" type="text" value="4" />
                                    </div>
   
                                </fieldset>
                            </form>
                        </div>
                        <div class="span5 roundCorners paddedBlock" style="height: 100%;">
                            <div class="blockHeader">
                                <p><strong>Model</strong></p>
                            </div>
                            <form class="form-horizontal paddedBlock" style="margin-bottom: 0;">  
                                <fieldset>
                                    <div class="control-group k-content">
                                        <select class="logisticSelect span12 combobox" placeholder="Select ..." 
                                                data-bind="options: ['Event~Exposure','User Defined'], value: settings.model()"></select>
                                    </div>         
                                </fieldset>
                            </form>
                        </div>
                    </div>
        
                    <a class="btn" style="margin-top:15px;" data-bind="click: runAnalysis">
                        <i class="fa fa-play-circle"></i> Run Analysis
                    </a>
                </div>

                <div class="container-fluid" data-bind="visible: !showSettings()">
                    <div class="row-fluid">         
                        <div class="span12 roundCorners paddedBlock" style="height: 100%;">
                            <div class="blockHeader">
                                <p><strong>Logistic Regression</strong>
                                <a class="btn btn-primary pull-right" style=" margin-bottom: 3px; padding: 1px 4px; margin-right: 10px;"
                                     data-bind="tooltip: { title: 'Settings' }, click: openSettings">
                                    <i class="fa fa-wrench"></i>
                                </a></p>
                            </div>
                            <div class="container-fluid roundCorners paddedBlock">
                                <div class="row-fluid">         
                                    <div class="span6 paddedBlock" style="height: 100%;">
                                        <img src="../../../../Content/sampleGraphs/Logistic_BASAL_CELL_CARCINOMA.jpg" />
                                    </div>
                                    <div class="span6 paddedBlock" style="height: 100%;">
                                        <img src="../../../../Content/sampleGraphs/Logistic_BLOOD_ALKALINE_PHOSPHATASE_INCREASED.jpg" />
                                    </div>
                                </div>
                                <div class="row-fluid">         
                                    <div class="span6 paddedBlock" style="height: 100%;">
                                        <img src="../../../../Content/sampleGraphs/Logistic_KERATOACANTHOMA.jpg" />
                                    </div>
                                    <div class="span6 paddedBlock" style="height: 100%;">
                                        <img src="../../../../Content/sampleGraphs/Logistic_MALIGNANT_MELANOMA.jpg" />
                                    </div>
                                </div>
                            </div>                                                       
                        </div>
                    </div>
                </div>
            </div>

            <div class="inputMenu span3 roundCorners" style="height: 100%;">
                <div class="blockHeader">
                    <p><strong>Selections Summary </strong></p> 
                </div>
                <ul class="nav nav-list">
                    <!-- ko foreach: selections -->
                    <li class="nav-header" data-bind="text: section"></li>
                    
                        <!-- ko foreach: pairs -->
                                <li>
                                    <a href="#">
                                        <strong><span data-bind="text: key"></span></strong>:<br />
                                        <span data-bind="text: value"></span>
                                        <i class="menuIcon fa fa-edit" data-bind=" tooltip: { title: 'Edit value' }"  ></i>
                                    </a>                                    
                                </li>
                        <!-- /ko -->

                    <!-- /ko -->
                </ul>
            </div>

            <style scoped>
                div.inputMenu { padding-bottom:10px;background-color: #F7F7F9;}
                div.inputMenu div.well { padding: 0; height: 100%; margin-bottom: 0 }
                div.inputMenu li > a > i.menuIcon { display: none }
                div.inputMenu li > a:hover > i.menuIcon { display: inline-block }
                div.inputMenu li > a:hover > i.menuIcon:hover 
                {
                    background-color: white;
                    color: #0088CC;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;  
                }
            </style>
        </div>
    </div>  
</div>