<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="Log4Net.config" />
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomDualHttpBinding_ISasJobsService" receiveTimeout="00:50:00" sendTimeout="00:50:00">
          <reliableSession inactivityTimeout="00:50:00" maxPendingChannels="100" />
          <compositeDuplex/>
          <oneWay/>
          <textMessageEncoding>
            <readerQuotas maxDepth="1073741824" maxStringContentLength="1073741824" maxArrayLength="1073741824" maxBytesPerRead="1073741824" />
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824" maxBufferSize="1073741824" />
        </binding>
      </customBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ISasJobsService" receiveTimeout="00:30:00" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824">
          <readerQuotas maxDepth="1073741824" maxStringContentLength="1073741824" maxArrayLength="1073741824" maxBytesPerRead="1073741824" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5454/SasJobsService/" binding="customBinding" bindingConfiguration="CustomDualHttpBinding_ISasJobsService" contract="BackgroundWorker.ISasJobsService" name="WSDualHttpBinding_ISasJobsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="4096" maxQueryString="2048" />
            </requestFiltering>
        </security>
  </system.webServer></configuration>
