@using System.Web.Optimization
@**************************************************************************************************
 * Index.cshtml                                                                                   *
 **************************************************************************************************
 * This page contains the main application                                                        *
 **************************************************************************************************@
<div>
    @* The whole application will be rendered inside the applicationHost div *@
    <div id="applicationHost">
        @* This will be shown while the application is loading *@
        @Html.Partial("_splash")
    </div>
</div>
      
@Scripts.Render("~/lib/vendor")
        
@* Load main.js for debugging or the optimized main-built.js for production *@
@if(HttpContext.Current.IsDebuggingEnabled) 
    {<script type="text/javascript" src="~/Scripts/require.js" data-main="@Url.Content("~/App/main.js")"></script>}
else{<script type="text/javascript" src="~/Scripts/require.js" data-main="@Url.Content("~/App/main.js")"></script>}  

@*We do not have a built version of the tool js yet, so still use full version for production {<script type="text/javascript" src="~/App/main-built.js"></script>}*@