<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomDualHttpBinding_ISasJobsService" receiveTimeout="00:50:00"
                  sendTimeout="00:50:00">
                    <reliableSession inactivityTimeout="00:50:00" maxPendingChannels="100"
                      reliableMessagingVersion="Default" />
                    <compositeDuplex />
                    <oneWay />
                    <textMessageEncoding>
                        <readerQuotas maxDepth="1073741824" maxStringContentLength="1073741824"
                          maxArrayLength="1073741824" maxBytesPerRead="1073741824" />
                    </textMessageEncoding>
                    <httpTransport maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824"
                      maxBufferSize="1073741824" />
                </binding>
            </customBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISasJobsService" receiveTimeout="00:30:00"
                  sendTimeout="00:30:00" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824">
                    <readerQuotas maxDepth="1073741824" maxStringContentLength="1073741824"
                      maxArrayLength="1073741824" maxBytesPerRead="1073741824" />
                    <reliableSession inactivityTimeout="00:30:00" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <services>
            <service name="SasJobs.BackgroundWorker.SasJobsService">
                <endpoint address="" binding="customBinding" bindingConfiguration="CustomDualHttpBinding_ISasJobsService"
                  contract="SasJobs.BackgroundWorker.ISasJobsService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:5454/SasJobsService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
                    <serviceDebug includeExceptionDetailInFaults="False" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>