<div>
    <div style="margin-top: -30px; right: 40px; position: absolute; text-align: right; width: 100%; z-index: 1000;">
        <p style="font-size: 1em; font-weight:bold; color:#333333; -ms-text-shadow: 5px 5px 5px #777777;              
            text-shadow: 5px 5px 5px #777777; -webkit-font-smoothing: antialiased;">eReview</p>
    </div>
    <div class="legacyContent">
        <iframe id="legacyView" style="padding-top: -200px"
            src="http://pmsql:22222/TopMenu/ReviewAuto.aspx"></iframe>
    </div>
</div>