<div class="modal-dialog data-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-hidden="true" data-bind="click: close">&times;</button>
            <h4 class="modal-title" data-bind="text: title">Modal title</h4>
        </div>
        <div class="modal-body" style="overflow-y: auto; white-space: nowrap">
            <div data-bind="tableView: { columns: columns, tableData: tableData}"></div>
            <div class="splash" data-bind="visible: loading">
                <i class="fa fa-spinner fa-2x fa-spin active"></i>
            </div>    
        </div>        
    </div>
</div>
